    <div class="w-100">
      <%= form_with(model: @profile, local: true) do |f| %>
      <div class="row align-items-start py-3 border-bottom">
        <div class="col-12 col-md-6 pl-sm-4 pl-2">
          <b>Profile Photo</b>
          <% if @profile.picture.attached? %>
            <%= image_tag @profile.picture, class: "rounded-circle d-block", width: "100px", height: "100px" %>
            <% else %>
              <img class="rounded-circle d-block" src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="100px" height="100px" alt="" />
          <% end %>
          <p>Accepted file type .png. Less than 1MB</p>
            <%= f.file_field :picture, class: "btn" %>
        </div>
        <div class="col-12 col-md-6 align-items-start pb-3">
          <%= f.label :personal_statement, class: "flabel" %>
          <%= f.text_area :personal_statement, rows: "5", class: "bg-light form-control" %>
        </div>
      </div>

      <div class="container">
        <div class="row py-2">
          <div class="col-12 col-md-6">
            <%= f.label :first_name, class: "flabel" %>
            <%= f.text_field :first_name, class: "bg-light form-control", placeholder: "Steve" %>
          </div>
          <div class="col-12 col-md-6 pt-md-0 pt-3">
            <%= f.label :last_name, class: "flabel" %>
            <%= f.text_field :last_name, class: "bg-light form-control", placeholder: "Smith" %>
          </div>
        </div>
        <div class="row py-2">
          <div class="col-12 col-md-6">
            <%= f.label :email_address, class: "flabel" %>
            <%= f.email_field :email_address, class: "bg-light form-control", placeholder: "steve_@email.com" %>
          </div>
          <div class="col-12 col-md-6 pt-md-0 pt-3">
            <%= f.label :phone_number, class: "flabel" %>
            <%= f.telephone_field :phone_number, class: "bg-light form-control", placeholder: "+971........." %>
          </div>
        </div>
        <div class="row py-2">
          <div class="col-12 col-md-6">
            <%= f.label :nationality, class: "flabel" %>
            <%= f.text_field :nationality, class: "bg-light form-control", placeholder: "United Arab Emirates" %>
          </div>
          <div class="col-12 col-md-6 pt-md-0 pt-3" id="lang">
            <%= f.label :gender, class: "flabel" %>
            <%= f.text_field :gender, class: "bg-light form-control", placeholder: "Gender" %>
          </div>
        </div>
        <div class="row py-2">
          <div class="col-12 col-md-6">
            <%= f.label :date_of_birth, class: "flabel" %>
            <%= f.date_field :date_of_birth, class: "bg-light form-control", placeholder: "DD-MM-YYYY" %>
          </div>
          <div class="col-12 col-md-6 pt-md-0 pt-3" id="lang">
            <%= f.label :designation, class: "flabel" %>
            <%= f.text_field :designation, class: "bg-light form-control", placeholder: "Designation" %>
          </div>
        </div>
        <hr>
        <div class="text-left">
            <h3>Academic Profile</h3>
        </div>
        <div class="row py-2">
          <div class="col-12 col-md-6">
            <%= f.label :school, class: "flabel" %>
            <%= f.text_field :school, class: "bg-light form-control", placeholder: "School name" %>
          </div>
          <div class="col-12 col-md-6 pt-md-0 pt-3" id="lang">
            <%= f.label :highest_qualification, class: "flabel" %>
            <%= f.text_field :highest_qualification, class: "bg-light form-control", placeholder: "BEd in Psychology" %>
          </div>
        </div>
        <hr>
        <div>
            <h3>Work Experience</h3>
        </div>
        <div class="experience">
            <div class="row py-2">
              <div class="col-12 col-md-6">
                <%= f.label :institution, class: "flabel" %>
                <%= f.text_field :institution, class: "bg-light form-control", placeholder: "Institution" %>
              </div>
              <div class="col-12 col-md-6 pt-md-0 pt-3" id="lang">
                <%= f.label :job_title, class: "flabel" %>
                <%= f.text_field :job_title, class: "bg-light form-control", placeholder: "Position" %>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-12 col-md-6">
                <%= f.label :start_date, class: "flabel" %>
                <%= f.date_field :start_date, class: "bg-light form-control", placeholder: "DD-MM-YYYY" %>
              </div>
              <div class="col-12 col-md-6 pt-md-0 pt-3" id="lang">
                <%= f.label :end_date, class: "flabel" %>
                <%= f.date_field :end_date, class: "bg-light form-control", placeholder: "DD-MM-YYYY" %>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-12 col-md-6">
                <%= f.label :reference_name, class: "flabel" %>
                <%= f.text_field :reference_name, class: "bg-light form-control", placeholder: "Reference Name" %>
              </div>
              <div class="col-12 col-md-6 pt-md-0 pt-3" id="lang">
                <%= f.label :reference_email, class: "flabel" %>
                <%= f.email_field :reference_email, class: "bg-light form-control", placeholder: "steve_@email.com" %>
              </div>
            </div>
        </div>
        <div class="experience d-none">
            <div class="row py-2">
              <div class="col-12 col-md-6">
                <%= f.label :institution, class: "flabel" %>
                <%= f.text_field :institution2, class: "bg-light form-control", placeholder: "Institution" %>
              </div>
              <div class="col-12 col-md-6 pt-md-0 pt-3" id="lang">
                <%= f.label :job_title, class: "flabel" %>
                <%= f.text_field :job_title2, class: "bg-light form-control", placeholder: "Position" %>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-12 col-md-6">
                <%= f.label :start_date, class: "flabel" %>
                <%= f.date_field :start_date2, class: "bg-light form-control", placeholder: "DD-MM-YYYY" %>
              </div>
              <div class="col-12 col-md-6 pt-md-0 pt-3" id="lang">
                <%= f.label :end_date, class: "flabel" %>
                <%= f.date_field :end_date2, class: "bg-light form-control", placeholder: "DD-MM-YYYY" %>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-12 col-md-6">
                <%= f.label :reference_name, class: "flabel" %>
                <%= f.text_field :reference_name2, class: "bg-light form-control", placeholder: "Reference Name" %>
              </div>
              <div class="col-12 col-md-6 pt-md-0 pt-3" id="lang">
                <%= f.label :reference_email, class: "flabel" %>
                <%= f.email_field :reference_email2, class: "bg-light form-control", placeholder: "steve_@email.com" %>
              </div>
            </div>
        </div>
        <div class="experience d-none">
            <div class="row py-2">
              <div class="col-12 col-md-6">
                <%= f.label :institution, class: "flabel" %>
                <%= f.text_field :institution3, class: "bg-light form-control", placeholder: "Institution" %>
              </div>
              <div class="col-12 col-md-6 pt-md-0 pt-3" id="lang">
                <%= f.label :job_title, class: "flabel" %>
                <%= f.text_field :job_title3, class: "bg-light form-control", placeholder: "Position" %>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-12 col-md-6">
                <%= f.label :start_date, class: "flabel" %>
                <%= f.date_field :start_date3, class: "bg-light form-control", placeholder: "DD-MM-YYYY" %>
              </div>
              <div class="col-12 col-md-6 pt-md-0 pt-3" id="lang">
                <%= f.label :end_date, class: "flabel" %>
                <%= f.date_field :end_date3, class: "bg-light form-control", placeholder: "DD-MM-YYYY" %>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-12 col-md-6">
                <%= f.label :reference_name, class: "flabel" %>
                <%= f.text_field :reference_name3, class: "bg-light form-control", placeholder: "Reference Name" %>
              </div>
              <div class="col-12 col-md-6 pt-md-0 pt-3" id="lang">
                <%= f.label :reference_email, class: "flabel" %>
                <%= f.email_field :reference_email3, class: "bg-light form-control", placeholder: "steve_@email.com" %>
              </div>
            </div>
        </div>
        <div class="text-right">
            <a class="btn btn-primary" id="add-experience" href="#" role="button">Add Experience</a>
        <div>
        <hr>
        <div class="row d-flex py-3">
            <div class="col-12 col-md-6 text-left">
              <h5 class="text-left"> CV </h5>
              <%= f.file_field :cv_upload, class: "btn ml-n3" %>
            </div>
            <div class="col-12 col-md-6 text-left">
              <h5> Certificate/Diploma </h5>
              <%= f.file_field :certificate, class: "btn ml-n3" %>
            </div>
        </div>
        <div class="py-3 pb-4 border-bottom">
          <%= f.submit "Save", class: "btn w-25 btn-primary mr-3" %>
        </div>
      </div>
      <% end %>
    </div>
