<div class="container border align-content-center col-lg-7">
        <div class="row my-2">
            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Work Experience</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#edit" data-toggle="tab" class="nav-link">contact</a>
                    </li>
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        <h5 class="mb-3">User Profile</h5>
                        <div class="row">
                            <div class="col-md-10">
                                <h6>About</h6>
                                <p>
                                    Like me, you’ve probably experienced real-life loops when you were given detention in school
                                     and forced to repeatedly write the same line about not drawing small phallic shapes on your desk.
                                      Writing the same thing over and over and over is not only boring but also potentially error prone.
                                       You might have made a spelling mistake on one line and forgotten to dot an “i” on another line.
                                        It’s the same with programming: the less code you have to write, the less chance you have of 
                                        introducing bugs that can cause your program to crash and burn.
                                </p>
                                
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="messages">
                        <div class="alert alert-info alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a>
                            <p>populate some details about work experience here</p>
                        </div>
                        
                    </div>
                    <div class="tab-pane" id="edit">
                        <p> some contact details here </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-1 text-center">
                <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
                <h6 class="mt-2">Name: Lulu Exchange</h6>
                <h6 class="mt-2">Nationality: American</h6>
                <h6 class="mt-2">Location: Dubai</h6>
            </div>
        </div>
    </div>


<p id="notice"><%= notice %></p>
<% if @profile.picture.attached? %>
<!-- @post.image.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Profile Photo:</strong>
    <br>
    <%= image_tag @profile.picture, class: "rounded-circle d-block", width: "100px", height: "100px" %>
  </p>
<% end %>

<p>
  <strong>Personal statement:</strong>
  <%= @profile.personal_statement %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @profile.email_address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @profile.phone_number %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @profile.nationality %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @profile.date_of_birth %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @profile.designation %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
